@font-face {
    font-family: 'Open Sans';
    src: url('/z/font-library/open-sans/OpenSans-Italic.woff2') format('woff2'),
        url('/z/font-library/open-sans/OpenSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/z/font-library/open-sans/OpenSans-Regular.woff2') format('woff2'),
        url('/z/font-library/open-sans/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/z/font-library/open-sans/OpenSans-Bold.woff2') format('woff2'),
        url('/z/font-library/open-sans/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/z/font-library/open-sans/OpenSans-BoldItalic.woff2') format('woff2'),
        url('/z/font-library/open-sans/OpenSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

