@font-face {
    font-family: 'Playfair Display';
    src: url('/z/font-library/playfair-display/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('/z/font-library/playfair-display/PlayfairDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('/z/font-library/playfair-display/PlayfairDisplay-Italic.woff2') format('woff2'),
        url('/z/font-library/playfair-display/PlayfairDisplay-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('/z/font-library/playfair-display/PlayfairDisplay-BoldItalic.woff2') format('woff2'),
        url('/z/font-library/playfair-display/PlayfairDisplay-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('/z/font-library/playfair-display/PlayfairDisplay-Bold.woff2') format('woff2'),
        url('/z/font-library/playfair-display/PlayfairDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

